
/* Common nav styles */
.Navigation-Wrapper {
    height: 100px;
    background-color: #1e1533;
    color: #cbcbcb ;
    
    /* Flexbox Container*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px  100px 20px;


}
.Navigation-Wrapper > .center-column > .banner-image img {
    width: 300px;
    height: 100%;
    opacity: 1;
    align-content: center;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links-wrapper > .nav-link{
    width: 70px;
    text-align: center;
}
.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}
.links-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

